body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: auto;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

input, select, textarea {
    width: 90%;
    padding: 12px;
	margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: auto;
}

button {
    width: 48%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.reset-btn {
    background-color: #f44336;
}

.reset-btn:hover {
    background-color: #e53935;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.result {
    margin-top: 15px;
    font-size: 18px;
}

.error {
    color: red;
    margin-top: 15px;
    font-size: 16px;
}

.back-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #2196F3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-btn:hover {
    background-color: #0b79d0;
}
